.chatForm {
  display: flex;
  flex-direction: row;
}

#chatInput {
  flex: 1 1 0;
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
  color: #000000;
  transition: 0.1s ease-out;
  padding-left: 80px;
}

#chatInput:focus {
  background-color: #e4f1fe;
  color: #222222;
  transition: 0.2s ease-in;
}

.chatButton {
  padding: 8px 24px;
  font-size: 1.3em;
  font-family: "Droid Sans", sans-serif;
  background-color: #2a2845;
  color: white;
  transition: 0.2s ease-out;
}

.chatButton:hover {
  background-color: #3d3b58;
}

.chatButton:disabled {
  background-color: #ffffffd0;
}

@media screen and (max-width: 950px) {
  #chatInput {
    font-size: 14px;
  }

  .chatButton {
    font-size: 14px;
    flex: 0 0 100px;
  }
}

@media screen and (min-width: 951px) {
  #chatInput {
    font-size: 1.2em;
  }
}
