.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #eaeaeb;
  overflow: hidden;
}

#logo {
  display: inline-block;
  background: url("../../assets/img/logo.png") no-repeat;
  background-size: cover;
  margin: 12px 10px 12px 32px;
  width: 50px;
  height: 50px;
  min-width: 50px;
}

#heading {
  flex: 4;
  padding: 24px 0px 8px 10px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.links {
  padding-top: 32px;
  padding-right: 30px;
  white-space: nowrap;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#heading > a {
  text-decoration: none;
  color: black;
}

.links a {
  color: #555555;
  text-decoration: none;
  transition: ease-in 0.2s;
  padding-right: 12px;
  overflow: hidden;
}

.links a:hover {
  cursor: pointer;
  color: #1e88e5;
  transition: ease-in 0.2s;
}

#userEmail {
  padding-right: 16px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 950px) {
  #logo {
    margin: 8px 10px 12px 16px;
    width: 40px;
    height: 40px;
    min-width: 40px;
  }

  #heading {
    padding: 14px 0px 8px 0px;
    font-size: 20px;
  }

  #userEmail {
    font-size: 14px;
  }

  .links {
    padding-top: 16px;
    padding-right: 10px;
  }

  .links a {
    font-size: 14px;
  }
}

@media screen and (min-width: 951px) {
  #heading {
    height: 60px;
    font-size: 1.8em;
  }
}
