.feed {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

app-message-date {
  align-self: center;
}

app-message {
  margin: 10px 20px;
}

.ownMessage {
  align-self: flex-end;
}
