.chatRoom {
  display: flex;
  flex-direction: column;
}

.chatHeaderWrapper {
  flex: 0 0 90px;
  color: #222222;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.37);
  z-index: 2;
}

router-outlet {
  flex: 1 1 0;
}

@media screen and (max-width: 950px) {
  .chatHeaderWrapper {
    flex: 0 0 50px;
  }
}
