.mainContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.userListWrapper {
  flex: 0 0 100%;
  order: 1;
  width: 20%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #2a2845;
  padding: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.37), 1px 2px 3px rgba(0, 0, 0, 0.54);
  z-index: 1;
}

.feedWrapper {
  flex: 1 1 0;
  order: 2;
  width: 80%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  overflow-y: hidden;
  padding: 10px 0px 10px 0px;
  background-color: #ffffff;
  background: linear-gradient(
      180deg,
      rgba(100, 200, 2500, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("../../assets/img/chat-bg-1.jpg") center no-repeat;
  background-size: cover;
}

.chatFormWrapper {
  flex: 0 0 30px;
  order: 3;
  z-index: 1;
  width: 80%;
  background-color: #eeeeee;
}

#scroll-style::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 950px) {
  .userListWrapper {
    display: none;
  }

  .feedWrapper {
    width: 100%;
  }

  .chatFormWrapper {
    width: 100%;
  }
}

@media screen and (min-width: 951px) {
  .feedWrapper {
    width: 80%;
  }

  .chatFormWrapper {
    width: 80%;
  }
}
