<div class="messageContainer" 
    [class.isOwn]="isOwnMessage"
    [class.selected]="selected"
    (mousedown)="downHandler()"
    (mouseup)="upHandler()"
    (touchstart)="downHandler()"
    (touchend)="upHandler()">
    <div class="messageData" [class.isOwn]="isOwnMessage">
        <span class="sender" [class.isOwn]="isOwnMessage">
            {{ userName }}
        </span>
        <span class="timestamp" [class.isOwn]="isOwnMessage">
            {{ timeStamp | date: 'HH:mm' }}
        </span>
    </div>
    <div class="messageContent" [class.isOwn]="isOwnMessage">
        <div class="repliedMessageContainer"
            *ngIf="repliedMessage">
            <div class="messageData repliedMessageData" [class.isOwn]="repliedMessage.isOwn">
                <span class="sender" [class.isOwn]="repliedMessage.isOwn">
                    {{ repliedMessage.userName }}
                </span>
                <span class="timestamp" [class.isOwn]="repliedMessage.isOwn">
                    {{ repliedMessage.timeSent | date: 'HH:mm' }}
                </span>
            </div>
            <div class="messageContent repliedMessageContent" [class.isOwn]="repliedMessage.isOwn">
                {{ repliedMessage.message }}
            </div>
        </div>
        {{ messageContent }}
    </div>
</div>