<div class="messageContainer" 
    [class.isOwn]="isOwnMessage"
    [class.selected]="selected"
    (click)="selectUnselectMessage()"
    (mousedown)="mouseDownHandler()"
    (mouseup)="mouseUpHandler()">
    <div class="messageData" [class.isOwn]="isOwnMessage">
        <span class="sender" [class.isOwn]="isOwnMessage">
            {{ userName }}
        </span>
        <span class="timestamp" [class.isOwn]="isOwnMessage">
            {{ timeStamp | date: 'HH:mm' }}
        </span>
    </div>
    <div class="messageContent" [class.isOwn]="isOwnMessage">
        {{ messageContent }}
    </div>
</div>