.messageContainer {
  display: flex;
  height: auto;
  min-width: 100px;
  width: auto;
  border-radius: 5px;
  align-items: stretch;
  background-color: #eeeeee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.isOwnMessageContainer {
  justify-content: flex-end;
  background-color: #01579b;
}

.messageData {
  flex: 1;
  padding: 10px;
  min-width: 70px;
  font-size: 0.7em;
}

.sender {
  display: block;
  color: #222222;
  font-weight: bold;
}

.isOwnSender {
  color: #e1f5fe;
}

.timestamp {
  color: #555555;
  font-style: italic;
}

.isOwnTimestamp {
  color: #4fc3f7;
}

.messageContent {
  flex: 9;
  height: auto;
  background-color: #fff;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.isOwnMessageContent {
  background-color: #e3f2fd;
  color: #01579b;
}
