.userContext {
  position: relative;
  min-width: 180px;
  border-radius: 5px;
  padding: 8px;
  background-color: rgba(28, 28, 71, 0.808);
}

.tooltiptext {
  display: inline;
  overflow: hidden;
  visibility: hidden;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 1;
  color: white;
  background-color: rgba(74, 74, 187, 0.705);
}

.userContext:hover .tooltiptext {
  visibility: visible;
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: black 1px solid;
}

.status.online {
  background-color: rgb(0, 206, 0);
}

.status.offline {
  background-color: lightgray;
}

.name {
  color: rgba(241, 241, 241, 0.733);
  margin: 5px;
}
