.userContext {
  min-width: 150px;
  border-radius: 7px;
  padding: 3px;
  background-color: rgba(28, 28, 71, 0.808);
}

.userContext:hover {
  background-color: rgba(46, 46, 80, 0.808);
}

.status {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px 6px;
  border-radius: 50%;
  border: black 1px solid;
}

.status.online {
  background-color: rgb(0, 206, 0);
}

.status.offline {
  background-color: lightgray;
}

.name {
  display: inline-block;
  color: rgba(241, 241, 241, 0.733);
  margin: 5px;
}
