* {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  padding: 0;
  background: #eeeeee;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

app-navbar {
  width: 100%;
}

app-chat-form {
  width: 100%;
  display: flex;
  white-space: nowrap;
  overflow: none;
}

.message {
  display: block;
  height: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.btn {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
